@import './../../variables.scss';
.card {
    position: relative;
    width: 25vw;
    height: auto;
    overflow: hidden;

    .imageCard {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: scaleY(0);
        background-color: #061726ea;
        transform-origin: bottom;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    .card-text.show {
        opacity: 1;
        transform: scaleY(1);
    }
    .card-text:hover{
        cursor: pointer;
    }

    &:hover .card-text {
        opacity: 1;
    }
}