@import './../../variables.scss';

.home {
    display: flex;
    height: 97vh;

    z-index: 9999;
    transition: 0.32 ease-in-out;
    padding: 5rem 40px 0px 40px;

    .h-left {
        display: flex;
        position: relative;
        flex: 1;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;

        .h-name {
            display: flex;
            flex-direction: column;
        }

        .h-name>:nth-child(1) {
            font-weight: bold;
            font-size: 3rem;
        }

        .h-name>:nth-child(2) {
            font-weight: bold;
            font-size: 3rem;
            color: $lightBlue;
        }

        .h-name>:nth-child(3) {
            font-weight: 300;
            font-size: 24px;
            margin-top: 10px;

        }

        .h-button {
            width: 6rem;
            height: 2rem;

        }

        .h-icons {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            margin-bottom: 5px;

        }

        .h-icons>* {
            transform: scale(1.0);
            color: white
        }

        .h-icons>*:hover {

            cursor: pointer;

        }
    }

    .h-right {
        flex: 1;

        display: flex;
        justify-content: center;
        position: relative;

        .codeIcon {
            color: white;
            z-index: 2;
            font-size: 60px;
            position: absolute;
            transform: scale(1.5);
            top: 2%;
            left: 10%;
            border-radius: 50%;
            padding: 0%;
        }

        .floatingDiv1 {
            position: absolute;
            right: 0%;
            top: 10%;
            z-index: 2;
        }

        .floatingDiv2 {
            position: absolute;
            left: 0%;
            bottom: 0%;
            z-index: 2;
        }

        .h-image {
            position: absolute;
            z-index: 1;
            bottom: 5%;

            .h-picture {
                width: 35vw;
                height: 35vw;
                border-radius: 50%;
                overflow: hidden;

                position: relative;

            }

            .h-picture>img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            .fondo {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #48c9af1e
            }
        }
    }




}

@media (max-width: 992px) {
    .home {
        flex-direction: column;
        margin-bottom: 45%;
    }

    .h-right {

        margin-top: 2rem;
        margin: 0%;
        padding-top: 50%;
        padding-bottom: 50%;
        position: relative;
        display: flex;

        .codeIcon {
            display: none;
        }
    }

    .floatingDiv2 {
        position: absolute;
        bottom: 0%;
        left: 0;
    }

    .floatingDiv1 {
        position: absolute;
        top: 0%;
        right: 0;
    }

    .h-image {
        position: absolute;
        top: 27%;
    }



}

@media (max-width: 500px) {
    .home {
        flex-direction: column;
        margin-bottom: 25%;

    }

    .h-right {

        margin-top: 2rem;
        margin: 0%;
        padding-top: 60%;
        padding-bottom: 60%;
        position: relative;
        display: flex;

        .codeIcon {
            display: none;
        }



    }

    .floatingDiv2 {
        position: absolute;
        bottom: 0%;
        left: 0;
    }

    .floatingDiv1 {
        position: absolute;
        top: 0%;
        right: 0;
    }

    .h-image {
        position: absolute;
        top: 37%;
    }

    .codeIcon {
        display: none;
    } 




}

@media(max-width: 420px){
    .home {
        flex-direction: column;
        margin-bottom: 55%;

    }
}
@media(max-width: 389px){
    .home {
        flex-direction: column;
        margin-bottom: 85%;

    }
}
@media(max-width: 289px){
    .home {
        flex-direction: column;
        margin-bottom: 135%;

    }
}